<footer class="mt-auto">
    <section class="lh-1 d-flex justify-content-center">
        <span class="spanFooter">Made by Oscar Aldaz</span><br />
        
    </section>
</footer>

<style>
    footer > section > span {
        font-size: x-small !important;
        color: #1f1f1f;
    }
</style>