
<header class="container">
    <nav class="col-md-12 ">
        <ul class="d-flex justify-content-end pt-3 list-unstyled">
            
            <li><span>Resume</span></li>
        </ul>
    </nav>
</header>

<style>
    @media (min-width: 768px) {
        nav > ul {
            
        }
    }
</style>

